<p><strong>Listado de pokemon</strong></p>

<div class="header_container">
  <div class="input_form_icon">
    <span class="material-symbols-outlined"> search </span>
    <input
      type="text"
      class="input_form"
      placeholder="Buscar"
      [formControl]="searchInput"
    />
  </div>
  <button (click)="newPokemon()" class="btn-main">
    <span class="material-symbols-outlined"> add </span>Nuevo
  </button>
</div>

<div class="list-container">
  <table class="custom_table">
    <thead>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Ataque</th>
      <th>Defensa</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of pokemons | filter: searchInput.value">
        <td>{{ item.name }}</td>
        <td>
          <img [src]="item.image" [alt]="item.name" />
        </td>
        <td>{{ item.attack }}</td>
        <td>{{ item.defense }}</td>
        <td>
          <div class="action">
            <button (click)="getOne(item.id)" class="btn-icon">
              <span class="material-symbols-outlined"> edit </span>
            </button>
            <button (click)="delete(item.id)" class="btn-icon">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
