/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #6658f5;
  --danger: #b05569;
  --title: #303a40;
  --text: #424c4e;
  --border: #cacecf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  font-family: "Roboto", sans-serif;
  background-image: url("assets/backgroud-img.png");
}
h1,
h2,
strong {
  color: var(--title);
}

.input_form {
  height: 90%;
  border: 2px solid var(--border);
  border-radius: 4px;
  max-width: 95%;
  padding-left: 6px;
  padding-right: 6px;
  color: var(--text);
  margin: 3px 6px;
  font-size: 16px;
  &::placeholder {
    color: var(--border);
  }
  &:focus {
    outline: none;
  }
}

.input_form_icon {
  display: flex;
  padding: 4px;
  align-items: center;
  border: 2px solid var(--border);
  border-radius: 4px;
  background-color: white;
  input {
    border: none;
  }
}

.form_group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 36px;
  margin-bottom: 1rem;
  label {
    justify-self: flex-start;
    margin-right: 1rem;
  }
}

.btn-main {
  background-color: var(--primary);
  color: white;
  border: none;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 36px;
  justify-content: center;
  margin: 8px;
  transition: transform ease-in-out 300ms;

  span {
    margin-right: 8px;
  }
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.btn-icon {
  cursor: pointer;
  border: none;
  background-color: transparent;
  span {
    color: var(--primary);
    font-weight: 700;
    &:hover {
      transform: scale(1.3);
    }
    transition: transform ease-in-out 200ms;
  }
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: var(--primary);
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--primary);
  margin-top: -6px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--primary);
}

.error {
  border: 2px solid var(--danger);
}

.text_error{
  color: var(--danger);
}
